body {
    background-color: rgb(175, 184, 82);
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 500%;
    color:darkslateblue
}
p {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    color:darkcyan
}